<ion-view>
    <ion-content class="in-container">
        <div class="img-title">
            <div class="title-backdrop"></div>
            <h1>Croquete de Aipim Cremoso</h1>
        </div>
        <div class="text">
            <h2>Ingredientes</h2>
            <h3>Massa</h3>
            <p><b>1 ½</b> xícara (chá) de aipim (mandioca) cozido e batido no processador (360 g)</p>
            <p><b>3</b> colheres (sopa) de farinha de trigo (25 g) dissolvida em ½ xícara (chá) de leite (120 ml)</p>
            <p><b>2</b> colheres (sopa) de manteiga (30 g)</p>
            <p><b>1</b> xícara (chá) de aipim (mandioca) cozido e batido no processador (360 g)</p>
            <h2>Modo de Preparo</h2>
            <h3>Empanamento</h3>
            <p><b>1:</b> Aqueça 2 colheres (sopa) de azeite numa frigideira antiaderente, coloque ½ xícara (chá) de cebola picadinha, 2 colheres (sopa) de alho picado e refogue até murchar. Acrescente 2 xícaras (chá) de carne seca cozida e desfiada e refogue até ficar sequinha (+/- 10 minutos). Apague o fogo e junte a salsinha picada a gosto.</p>
            <p><b>2:</b> Numa tigela misture 1 xícara (chá rasa) de carne seca refogada, ½ xícara (chá) de muçarela ralada no ralo grosso e ½ xícara (chá) de queijo cremoso. Reserve.</p>
        </div>
    </ion-content>
</ion-view>
